@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(250, 223, 187);
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
    margin-bottom: 800px;
}

footer {
    background-color: #004E64;
    color: #7AE582;
    padding-top: 24px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0;
    text-align: center;
    font-size: 25px;
}

img {
    height: 200px;
}

nav {
    border-color: #004E64;
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    padding: 16px;
}

a:hover {
    color: #7AE582
}


.page-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    grid-row-start: 1;
    column-gap: 16px;
}

a {
    color: #2dc2eb;
    text-decoration: none;
}

h1 {
    color: #25A18E
}

nav {
    background-color: #004E64;
}

tr:nth-child(even) {
    background-color: rgb(254, 254, 254);
}
